---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/layout/Navbar.astro';
import CustomerManagement from '../../components/clientes/CustomerManagement';
---

<Layout title="Clientes - Facturador Digital">
  <Navbar currentPath="/clientes" />
  
  <main class="max-w-[1280px] mx-auto px-6 py-12">
    <CustomerManagement client:load />
  </main>
</Layout>

<style>
  /* Styles moved to components */
</style>
